<%- include("header") -%>

<center class="container">
  <h2 class="display-4" style="color: rgb(16, 97, 247)">
    Welcome to the admin panel
  </h2>
  <h1 class="display-4" style="color: rgb(247, 16, 170)">
    <b>THE HIT TIMES</b>
  </h1>
  <a
    href="/pages/createpost"
    class="btn btn-lg text-white btn-success roundbth"
  >
    CREATE POST</a
  >
</center>

<%- include("footer") -%>
