<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>THE HIT TIMES</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.tiny.cloud/1/gy5pjthnlmq41tsazbhlnu4xqc53eu5ad8yk9a4y7i0a0kx6/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>

    <script>
      tinymce.init({
        selector: "#mytextarea",
      });
    </script>
  </head>

  <style>
    .roundbth {
      border-radius: 25px;
    }
    body {
      background: linear-gradient(
        rgba(50, 176, 226, 0.5),
        rgba(228, 102, 180, 0.5)
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbercolor {
    }
  </style>

  <body>
    <nav
      class="navbar navbar-expand-sm navbar-light mb-3"
      style="color: rgb(16, 97, 247)"
    >
      <div class="container">
        <button
          class="navbar-toggler mr-auto"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">THE HIT TIMES</a>
        <% if(user) { %>
        <a
          class="nav-link ml-auto btn btn-danger text-white roundbth px-3"
          href="/auth/logout"
          >Logout</a
        >
        <% } else{ %>
        <a
          class="nav-link ml-auto btn btn-primary text-white roundbth px-3"
          href="/pages/login"
          >Login</a
        >
        <%}%>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"><b>Home</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/pages/createpost"
                ><b>Create Post</b></a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/pages/sendnotification">
                <b>Send Notification</b>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/pages/display"><b>Display</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/live"><b>Go Live</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/managelive"><b>Manage Live</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/posts"><b>JSON</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mb-5">
      <div
        class="card p-5"
        style="
          background: linear-gradient(
            rgba(13, 178, 243, 0.5),
            rgba(228, 102, 180, 0.5)
          );
          border-radius: 0px;
        "
      >
        <div class="card-body shadow-lg">
          <% if(notificationResponse=='sent notification successfully'){%>
          <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <strong><%= notificationResponse %></strong>
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%} else if(notificationResponse=='sent notification failed') {%>
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <strong><%= notificationResponse %></strong>
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%}else if(notificationResponse=='you logged in succesfully'){%>
          <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <strong><%= notificationResponse%></strong>
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <%} %>

          <h3 class="text-white">SEND NOTIFICATION</h3>

          <form class="form-group" action="javascript:postData()" method="post">
            <h5 class="text-white">Title</h5>
            <input
              class="form-control"
              required
              style="border-radius: 0px"
              placeholder="Title"
              id="title"
              type="text"
              name="title"
            />
            <h5 class="text-white mt-1">Description</h5>
            <textarea
              style="width: 100%"
              id="description"
              name="description"
              rows="9"
              placeholder="Content of this notification"
            ></textarea>
            <h5 class="text-white mt-2">Link</h5>
            <input
              class="form-control"
              required
              style="border-radius: 0px"
              placeholder="Link"
              type="text"
              id="link"
              name="imgurl"
            />
            <br />
            <button type="submit" class="btn text-white btn-primary roundbth">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script>
    const postData = async () => {
      const title = document.getElementById("title").value.trim();
      const description = document.getElementById("description").value.trim();
      const link = document.getElementById("link").value.trim();
      const data = { title, description, link };

      const res = await fetch("/api/sendnotification", {
        method: "POST",
        redirect: "follow",
        body: JSON.stringify(data),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });
      if (res.ok) window.location.reload();
    };
  </script>

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
